 
<ion-view view-title="MEU PERFIL">
	 
    <ion-nav-buttons side="right">
        <a href="#/tab/areatrabalho/configuracoes" class="button button-icon icon ion-gear-b"></a>
    </ion-nav-buttons>

  <ion-content class="padding">
  <Br>
   <center>
     <div class="item arredondado-perfil ">
        <img src="img/mcfly.jpg" width="180px" style="margin-top: -20px; margin-left: -40px;">  
      </div> 
      <h3>Carla Borba</h3>
      <p>Paciente</p>
      <i class="ion-ios-location"></i> Cachoeira do Sul / RS
    </center>
    <br> 

    <div class="card">
	  <div class="item item-divider">
	    Estatísticas
	  </div>
	  <div class="item item-text-wrap">
	    Aqui podes puxar um iframe de algum gráfico
	  </div>
	   
	</div>
  </ion-content>
</ion-view>

<div class="bar bar-footer">
   <div class="row">
    <div class="col" style="text-align: left;">
           
    </div>  
  </div> 
</div>
 