<ion-view view-title="ÁREA DE TRABALHO">
 <ion-nav-buttons side="right">
        <a href="#/tab/areatrabalho/configuracoes" class="button button-icon icon ion-gear-b"></a>
    </ion-nav-buttons>
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-avatar">
        <img src="img/mcfly.jpg">
        <h2>Carla Borba</h2>
        <p>Paciente<Br><i class="ion-ios-location"></i> Cachoeira do Sul / RS </p>       
      </div> 
    </div>
    
    <div class="list">



      <a href="#/tab/areatrabalho/perfil" class="item item-icon-left item-icon-right">
        <i class="icon positive ion-levels"></i>
        Editar Perfil
        <i class="icon positive ion-chevron-right"></i>
      </a>

      <a href="#/tab/areatrabalho/mensagens" class="item item-icon-left item-icon-right" href="#">
        <i class="icon positive ion-android-mail"></i>
        Publicações / Receitas
        <span class="badge positive badge-assertive">5</span> 
      </a>

       

      <a class="item item-icon-left item-icon-right" href="#/tab/areatrabalho/timeline">
        <i class="icon positive ion-ios-timer"></i>
        Estatísticas
        <i class="icon positive ion-chevron-right"></i>
      </a>
 
      <a class="item item-icon-left item-icon-right" href="#/tab/areatrabalho/calendario">
        <i class="icon positive ion-calendar"></i>
        Agendamentos 
        <i class="icon positive ion-chevron-right"></i>
      </a> 

      <a class="item item-icon-left item-icon-right" href="#">
        <i class="icon positive ion-chatbubbles"></i>
        Chat
        <i class="icon positive ion-chevron-right"></i>
      </a>
 
    </div>
    <Br><Br>
  </ion-content>
</ion-view>

<div class="bar bar-footer">
   <div class="row">
    <div class="col" style="text-align: left;">
      
    </div>

    <div class="col" style="text-align: right;">      
        <a href="#/tab/areatrabalho/modelo2" class="button button-small button-positive">
          Modelo 2  <i class="ion-android-arrow-dropright"></i>
        </a>      
    </div>
    
  </div>
 

</div>