 
<ion-view view-title="MENSAGENS">
	 
    <ion-nav-buttons side="right">
        <a href="#/tab/areatrabalho/configuracoes" class="button button-icon icon ion-gear-b"></a>
    </ion-nav-buttons>

    <div class="tabs-striped tabs-top tabs-icon-left tabs-background-positive tabs-color-light">
    <div class="tabs">
      <a class="tab-item active" href="#">
        <i class="icon ion-ios-browsers"></i>
        Todas
      </a>
      <a class="tab-item" href="#">
        <i class="icon ion-star"></i>
        Favoritos
      </a>
      <a class="tab-item" href="#">
        <i class="icon ion-compose"></i>
        Nova Mensagem
      </a>
    </div>
  </div>
  <ion-content>
  <Br><Br>
    <div class="list">
        <a class="item item-avatar" href="#">
          <img src="img/iconemail.ico">
          <h2>Venkman</h2>
          <p>Back off, man. I'm a scientist.</p>
        </a>     
        <a class="item item-icon-left" href="#">
          <i class="icon ion-mic-a"></i>
          Record album
          <span class="item-note">
            Grammy
          </span>
        </a>   
    </div>



   
  </ion-content>
</ion-view>
  