<ion-view view-title="Cadastre-se em nosso aplicativo.">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up" style="background-image: url('img/profile-bg.jpg');">
            <div class="content">
                <div class="avatar" style="background-image: url('img/daenerys.jpg');"></div>
                <h3><a class="light">  Cadastre-se na Nutrivirtual  </a></h3>
            </div>
        </div>
        <div class="padding">
          <p>Cadastre-se gratuítamente e faça parte de um grupo exclusivo de dietas e consultoria especializada da nutricionista.</p>
	       </div>
         <div class="list">
             <ion-md-input ng-model="formData.nome" placeholder="Nome" highlight-color="energized" style="color:#ffffff" type="text"></ion-md-input>
             <ion-md-input ng-model="formData.email" placeholder="E-mail" highlight-color="balanced" type="text"></ion-md-input>
             <ion-md-input ng-model="formData.whatsapp" placeholder="WhatsApp" highlight-color="balanced" type="text"></ion-md-input>
             <ion-md-input ng-model="formData.telefone" placeholder="Telefone" highlight-color="balanced" type="text"></ion-md-input>
             <ion-md-input ng-model="formData.cidade" placeholder="Cidade/UF" highlight-color="balanced" type="text"></ion-md-input>
         </div>
         <div class="padding">
             <button class="button button-full button-assertive ink" ng-click="submitForm(formData)">CADASTRAR-SE</button>
         </div>
    </ion-content>
</ion-view>
