<ion-view view-title="Cadastrar-se">
  <ion-content class="padding">
    <Br>
    <img src="img/logo.png" width="60%">
    <Br>
      <div class="list" style="padding: 20px;">
          <label class="item item-input" >
            <i class="ion-person placeholder-icon"></i>
            <input type="text" placeholder="SEU NOME">
          </label>

          <label class="item item-input" >
            <i class="ion-key placeholder-icon"></i>
            <input type="text" placeholder="SENHA">
          </label>

          <label class="item item-input" >
            <i class="ion-android-mail placeholder-icon"></i>
            <input type="text" placeholder="E-MAIL">
          </label>

          <label class="item item-input" >
            <i class="ion-iphone placeholder-icon"></i>
            <input type="text" placeholder="TELEFONE">
          </label>

          <button class="button button-block button-positive">
          CADASTRAR-SE
        </button> 
      </div>
        
        
  

  </ion-content>
</ion-view>
<div class="bar bar-footer">
   <div class="row">
    <div class="col" style="text-align: left;">
      <a href="#/tab/dash" class="button button-light icon-left button-positive  button-clear">
        <i class="ion-person-stalker"></i> Login
      </a>
    </div>
   <div class="col" style="text-align: right;">
      <a href="#/tab/dash/ajuda" class="button button-light icon-right button-positive  button-clear">
         Ajuda <i class="ion-help-buoy"></i>
      </a>
    </div>
  </div>
 

</div>