<ion-view view-title="Área VIP">
    <ion-content ng-class="{expanded:isExpanded}">
        <div class="content has-header">
            <div class="list animate-fade-slide-in-right">
              <div class="padding">
                <p>Cadastre-se gratuítamente e faça parte de um grupo exclusivo de dietas e consultoria especializada da nutricionista.</p>
              </div>
              <div class="list">
                  <ion-md-input ng-model="formData.nome" placeholder="Nome" highlight-color="energized" style="color:#ffffff" type="text"></ion-md-input>
                  <ion-md-input ng-model="formData.email" placeholder="E-mail" highlight-color="balanced" type="text"></ion-md-input>
                  <ion-md-input ng-model="formData.telefone" placeholder="Telefone" highlight-color="balanced" type="text"></ion-md-input>
                  <ion-md-input ng-model="formData.whatsapp" placeholder="WhatsApp" highlight-color="balanced" type="text"></ion-md-input>
                  <ion-md-input ng-model="formData.cidade" placeholder="Cidade/UF" highlight-color="balanced" type="text"></ion-md-input>
              </div>
              <div class="padding">
                  <button class="button button-full button-assertive ink" ng-click="submitForm(formData)">CADASTRAR-SE</button>
              </div>
            </div>
        </div>
    </ion-content>
</ion-view>
