<ion-view view-title="Login" align-title="left">
    <ion-content style="background: url(img/login.jpg) center; background-size: cover;">

    <Br><Br><Br> <Br><Br><Br>
        <div class="hero no-header flat">
            <div class="content">
                 <img src="img/logo.png">
            </div>
        </div>
        <div class="list">
            <!-- <ion-md-input placeholder="E-mail" highlight-color="balanced" type="text"></ion-md-input> -->
        </div>
        <div class="padding">
            <button ui-sref="app.profile" class="button button-full button-assertive ink">ENTRAR NO APP</button>
        </div>
        <div class="button-bar social-login">
            <button ui-sref="app.oquee" class="button button-small button-border icon-left  button-assertive-900">O que é ?</button>
            <button ui-sref="app.cadastrarse" class="button button-small button-border icon-left  button-calm-900">Cadastrar-se</button>

        </div>
    </ion-content>
</ion-view>
