<ion-view view-title="O que é ?">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up" style="background-image: url('img/profile-bg.jpg');">
            <div class="content">
                <div class="avatar" style="background-image: url('img/daenerys.jpg');"></div>
                <h3><a class="light">  Bem vindo ao aplicativo Nutrivirtual  </a></h3>
            </div>
        </div>
        <div class="content padding">
          <img src="img/foto-carla.jpg" width="100%">
<br>
	<p>A NUTRIVIRTUAL é administrado por Carla Borba, nutricionista formada pela Universidade Federal de Pelotas - UFPEL, no ano 2003.           </p>
	<p>Foi criado com a intenção de proporcionar mais conforto, praticidade à todos aqueles que necessitam de um programa de reeducação alimentar,tratar ou prevenir inúmeras patologias,bem como  emagrecimento ou ganho de peso.           </p>
	<p>Tratamento personalizado, feito sob medida para cada paciente, com conversas diárias para retirada de dúvidas ou com caráter motivacional,  encontro em grupo feito uma vez por semana, através de chat, troca de experiências, receitas variadas, dicas, loja com produtos indicados na dieta, curiosidades apartir de pesquisas científicas.           </p>
	<p>Um espaço onde você pode encontrar tudo que precisa para realizar seu tratamento sem precisar sair de casa.           </p>
	<p>Este aplicativo é uma extensão do site de tratamento
		<a href="http://www.nutrivirtual.com.br">www.nutrivirtual.com.br</a>.
	</p>
	<p>Você não esta sozinho, cadastre-se e experimente nosso método de tratamento
</div>
    </ion-content>
</ion-view>
