<ion-view title="" id="page4" style="background-color:#F68052;" class=" ">
    <ion-content padding="true" style="background: url(img/1wswFFiRyWOZbY3erz3i_logo%2520(2).png) no-repeat center;background-size:cover;" class="has-header">
        <div class="list card " id="page4-card22">
            <ion-item id="page4-list-item4" class="  ">Sopa Detox</ion-item>
            <div class=" item item-image">
                <a style="display:block;" ui-sref="tabsController.pOSTSELECIONADO">
                    <img src="img/20_0.jpg" width="100%" height="" style="display: block; margin-left: auto; margin-right: auto;">
                </a>
            </div>
            <div class="item item-body " id="page4-list-item-container2">
                <p id="page4-markdown1" style="margin-top:0px;color:#000000;" class=" ">Com as temperaturas mais baixas a necessidade por refeições quentes aumenta.</p>
            </div>
            <ion-item class="item-icon-left balanced  " id="page4-list-item5">
                <i class="icon ion-ios-lightbulb"></i>Dicas</ion-item>
        </div>
        <div class="list card " id="page4-card23">
            <ion-item id="page4-list-item6" class="  ">Pão de Queijo de Frigideira de Tapioca</ion-item>
            <div class=" item item-image">
                <a style="display:block;" ui-sref="tabsController.pOSTSELECIONADO">
                    <img src="img/23_0.jpg" width="100%" height="" style="display: block; margin-left: auto; margin-right: auto;">
                </a>
            </div>
            <div class="item item-body " id="page4-list-item-container3">
                <p id="page4-markdown2" style="margin-top:0px;color:#000000;" class=" ">Mistura tudo muito bem e coloque na frigideira, quando estiver desgrudando do fundo vira e deixa dourar.</p>
            </div>
            <ion-item class="item-icon-left assertive  " id="page4-list-item7">
                <i class="icon ion-android-document"></i>Receitas</ion-item>
        </div>
    </ion-content>
</ion-view>