<ion-view title="POST SELECIONADO" id="page5" style="background-color:#F68052;" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="list card " id="pOSTSELECIONADO-card25">
            <ion-item class="item-avatar  " id="pOSTSELECIONADO-list-item10">
                <h2>Sopa Detox</h2>
            </ion-item>
            <div class=" item item-image">
                <img src="img/20_0.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <div class="item item-body " id="pOSTSELECIONADO-list-item-container5">
                <p id="pOSTSELECIONADO-markdown3" style="margin-top:0px;color:#000000;" class=" "></p>
                <p id="pOSTSELECIONADO-markdown4" style="color:#000000;" class=" ">Com as temperaturas mais baixas a necessidade por refeições quentes aumenta. Nada como uma sopinha para saciar, aquecer e nutrit de forma adequada com poucas calorias. Então lá vai uma receitinha legal para nutrir, aquecer, desintoxicar
                    e compensar algum excesso.</p>
            </div>
        </div>
    </ion-content>
</ion-view>